.pros {
	@include padding-block;
	background-color: $white;

	&__boxes {
		display: flex;
		flex-direction: column;
		gap: 2em;
		padding-bottom: 2em;

		@include respond(desktop) {
			padding-bottom: 0;
		}
		// @include respond(tablet) {
		// 	display: grid;
		// 	grid-template-columns: repeat(2, 1fr);
		// }

		// @include respond(desktop) {
		// 	grid-template-rows: 1fr;
		// 	grid-template-columns: repeat(3, 1fr);
		// }
	}

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.5em;
		background-color: $gray;
		padding: 1em 1.5em;
		min-height: 240px;

		@include respond(tablet) {
			min-height: 300px;
		}
	}

	&__icon {
		// padding: 1.8em 1.3em;

		svg {
			fill: $black;
			width: 49px;
			height: 49px;

			@include respond(tablet) {
				width: 64px;
				height: 64px;
			}
		}

		@include respond(tablet) {
			background-color: unset;
			padding: 0;
		}
	}

	&__texts {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.5em;
		text-align: center;

		@include respond(tablet) {
			justify-content: center;
			align-items: center;
			gap: 1em;
		}
	}

	&__title {
		font-size: 1.6rem;
		line-height: 19.2px;
		font-family: '600';

		@include respond(tablet) {
			font-size: 2.4rem;
			line-height: 33.6px;
			font-family: '600';
		}
	}

	&__description {
		font-size: 1.4rem;
		line-height: 19.6px;
		font-family: '400';
		text-align: center;

		@include respond(tablet) {
			font-size: 1.8rem;
			line-height: 25.2px;
		}
	}

	&__link {
		color: $black;
	}

	&__pagination {
		bottom: 0px !important;
		z-index: 200;

		.swiper-pagination-bullet {
			&-active {
				background-color: $black;
			}
		}
	}
}

.page-id-83 {
	@include respond(desktop-small) {
		.pros__wrapper {
			display: grid;
			grid-template-rows: 1fr;
			grid-template-columns: repeat(3, 1fr);
			gap: 1.5em;
		}

		.pros__box {
			width: 100% !important;
		}
	}
}
