@font-face {
	src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
	font-family: '500';
}

@font-face {
	src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
	font-family: '400';
}

@font-face {
	src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
	font-family: '600';
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*li {
	list-style-type: none;
}

*a {
	// border-radius: 25px;
	text-decoration: none;
}

img,
picture,
video,
canvas {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	outline: none;
	border: none;
	background: none;
	font: inherit;
}

button {
	cursor: pointer;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
	font-family: '400', Arial, sans-serif;
}

body {
	// background-color: $background;
	color: $text;
	font-size: 1.6rem;
}
